h5 {
   max-width: 50%;
}

img {
   width: 5px;
   height: 5px;
   object-fit: contain;
}

a {
   border-radius: 5px;
}

a[name="open"] {
   background-color: rgb(209, 110, 110);
}

a[name="closed"] {
   background-color: rgb(137, 231, 255);
}

a[name="closed"]:hover {
   background-color: teal;
   color: aliceblue;
}

a[name="open"]:hover {
   background-color: rgb(218, 148, 115);
   color: aliceblue;
}